@font-face {
    font-family: Geosans;
    src: url(./fonts/GeosansLight.ttf);
}

@font-face {
    font-family: Modern;
    src: url(./fonts/ModernSans-Light.otf);
}

* {
    margin: 0px;
}

header {
    display: flex;
    justify-content: center;
}

body {
    background-color: #fff;
}

nav {
    display: flex;
    height: 75px;
    width: 90%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 18px 0;
}

#logo a img {
    height: 45px;
}

#options ul {
    display: flex;
}

#options ul li {
    list-style: none;
    margin-right: 40px;
}

#options ul li a {
    text-decoration: none;
    font-family: "Geosans";
    font-size: 18px;
    color: black;
    transition: 0.2s;
}

#options ul li a:hover {
    color: #f36d00;
    font-weight: bold;
}

#options ul li a .active {
    color: black;
    font-weight: bold;
}

.btn-menu {
    display: none;
}

.barra-menu {
    font-size: 24px;
}

.cv {
    font-weight: bold;
    font-size: 18px !important;
}


#welcome {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    align-items: center;

}

.content {
    width: 60%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.textoW {
    width: 60%;
}

h1 {
    font-family: "Geosans";
    font-size: 54px;
    color: #F4A261;
}

h2 {
    font-family: "Geosans";
    font-size: 50px;
    margin-bottom: 20px;
}

#welcome p {
    font-family: "Geosans";
    font-size: 20px;
}

.circulo-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.76);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-inicio {
    width: 95%;
    height: 95%;
    border-radius: 50%;
}

#redes {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

#redes li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 40px;
}

.circulo {
    background-color: #F4A261;
}

#redes li a {
    font-style: none;
    color: black;
    transition: .2s;
}

#redes li a:hover {
    font-size: 44px;
}

#grid-layout {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
}

.grid-box {
    text-align: center;
    font-family: "Geosans";
}

.b1 img {
    width: 600px;
}

.b1 {
    grid-column: 1/3;
}

.b2 {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    text-align: start;
}

.b2 h2 {
    text-align: center;
    margin: 50px;
    font-size: 38px;
}

.b2 p {
    font-size: 18px;
}

.b3 {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    text-align: start;
}

.b3 h2 {
    text-align: center;
    margin: 50px;
    font-size: 38px;
}

.b3 p {
    font-size: 18px;
}

.b4 {
    grid-column: 2/4;
}

.b4 img {
    width: 600px;
}

#formContact {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
}

#contForm {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#contForm h3 {
    text-align: start;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 26px;
    font-family: "Geosans";
}

#contForm textarea {
    padding: 20px;
    font-family: "Modern";
    font-size: 18px;
    width: 95% !important;
}

#contForm input {
    padding: 16px;
    font-family: "Modern";
    font-size: 18px;
    margin-bottom: 20px;
}

#submitForm {
    width: 200px;
    padding: 10px;
    background-color: #fff;
    font-family: "Geosans";
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;
}

#submitForm:hover {
    background-color: #F4A261;
}

.changeColor {
    margin-top: 50px;
    padding: 15px;
}

.changeColor button {
    padding: 20px;
}

#contact {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Geosans";
    font-size: 20px;
}

#contactInfo {
    text-align: center;
    margin-bottom: 25px;
}

#contactInfo h3 {
    margin-bottom: 25px;
}

#chatButtons {
    margin-bottom: 25px;
}

#chatButtons a {
    padding-left: 30px;
    padding-right: 30px;
}

#contForm p {
    color: red;
}

@media (max-width: 850px) {

    #chatButtons a img {
        width: 100px;
    }

    .whapp {
        width: 170px !important;
    }

    .b1 {
        grid-column: 1/4;
    }

    .b2 {
        grid-column: 1/4;
    }

    .b3 {
        grid-column: 1/4;
    }

    .b4 {
        grid-column: 1/4;
    }

    .grid-box img {
        width: 400px;
    }

    #options {
        display: none;
    }

    .btn-menu {
        display: block;
    }

    nav {
        justify-content: space-around;
    }

    #logo a img {
        height: 35px;
    }

    #redes li {
        width: 70px;
        height: 70px;
        font-size: 20px;
    }

    .content {
        width: 100%;
        flex-direction: column;
    }

    h1 {
        font-size: 26px;
        margin-bottom: 0px;
    }

    h2 {
        font-size: 20px;
    }

    #welcome p {
        font-size: 12px;
    }

    .circulo-img {
        width: 170px;
        height: 170px;
    }

}